<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dunc'd On Episode Prediction</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Which recent Dunc'd On episodes are best?</h1>
        
        <div class="text-container">
            <div class="about-text">
                The Dunc'd On podcast only has one problem: There's too much good content to listen to all of it.
                <br>
                <br>
                This tool fetches the past week of episodes from an RSS feed, runs feature engineering,
                <br> 
                and uses a model that's 80% accurate at identifying which episodes are best.
            </div>
            <div class="contact-text">
                This tool was built by Michael Mullarkey, and I'm looking for jobs right now! 
                <br>
                <br>
                My resume is <a href="https://mcmullarkey.github.io/assets/mcmullarkey_resume_website.pdf" target="_blank">here</a> and my LinkedIn is <a href="https://www.linkedin.com/in/mcmullarkey/" target="_blank">here</a>
                <br>
                <br>
                Also, I promise I don't hate the Daily Duncs, I just read them instead of listening.
            </div>
        </div>

        <button onclick="findGoodEpisodes()">Predict</button>
        
        <div id="chart-container">
            <canvas id="episodeChart"></canvas>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        
</body>
</html>
